

body{
	background: linear-gradient(to bottom right, #0033cc 0%, #00cc99 100%);
}


#logo{
	text-align: center;
	font-size: 100px;
	color: white;
}

#buttonbar{
	margin-top: 25px;
	margin-bottom: 100px;
	margin-right: 500px;
	margin-left: 500px;

}

#fun{
	margin-top: 50px;
	font-size: 35px;
	font-weight: 20px;
}

p{
	text-align: center;
	font-family: arial;
	font-size: 25px;
	margin-right: 400px;
	margin-left: 400px;
	color: white;
}

#Message {
	margin-top: 100px;
}

#instruction{
 margin-top: 50px;
}

.welcomebutton{
	display: inline-block;
	border: 2px outset #b2b9c4;
	border-radius: 10px;
	padding-right: 15px;
	padding-left: 15px;
	text-decoration: none;	
}

#Find_help{

}

#Become_A_Consultant{
	margin: auto;
}

#About_us{
	
	
}

.buttontext{
	color:white;
	
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
}

.buttontext:hover{
	text-decoration: none;
	color:black;
}