#topbar {
    background: linear-gradient(to bottom right, #00cc00 0%, #00cc99 100%);
    margin-top: 0px;
    height: 100px;
}





h1{
	text-align: center;
	font-size: 100px;
}

#buttonbar{
	margin-top: 25px;
}

#fun{
	margin-top: 50px;
	font-size: 35px;
	font-weight: 20px;
}

p{
	text-align: center;
	font-family: arial;
	font-size: 25px;
	margin-right: 400px;
	margin-left: 400px;
}

#Message {
	margin-top: 100px;
}

#instruction{
 margin-top: 50px;
}

.welcomebutton{
	

	background-color: #48ba2e;
	
	display: inline-block;
	border-radius: 20px;
	padding-right: 15px;
	padding-left: 15px;
	text-decoration: none;
	
}



#Find_help{
	margin-right: 400px;

}

#Become_A_Consultant{
	margin: auto;
}



#About_us{
	margin-left: 400px;
	
}

.buttontext{
	color:white;
	text-decoration: none;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
}


